@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


/* Dark Mode */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 50, 50, 50;
    --background-end-rgb: 0, 0, 0;
  }
  .header {
    filter: invert(100%);
  }
  .dropdown {
    background-color:black;
    border-color: white;
    border-width: 0.2vh;
  }

  .leaflet-container {
    filter: 
    invert(100%) 
    hue-rotate(0deg)
    brightness(100%) 
    contrast(100%);
  }
  .searchButton:hover {
    border-color: #57585a;
    background-color: #4d4e50;
  }

  .legend-text > p{
    margin-left: 1vw;
    color: black;
  }

  .legend-gradient {
    margin: auto;
    position: relative;
    display: flex;
    background: linear-gradient(to top, #8F7700, #248E0C, #09940F, #06B12A, #00EC60)  ;
    height:100%;
    border-radius: 0.5rem;
    width:50%
  }

  #popup-close-button{
    position: absolute;
    overflow: hidden;

    border: none;
    padding: 0;
    width: 5em; height: 5em;
    border-radius: 50%;
    background: transparent;
    color: #ff139f;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;
    top: 90%;
    left: 135%;
    
    &:focus {
      outline: solid 0 transparent;
      box-shadow: 0 0 0 2px #8ed0f9
    }
    
    &:hover {
      background: rgba(29, 161, 142, .1)
    }
    
    &:before, &:after {
      position: absolute;
      top: 15%; left: calc(50% - .0625em);
      width: .125em; height: 70%;
      border-radius: .125em;
      transform: rotate(45deg);
      background: currentcolor;
      content: ''
    }
    
    &:after { transform: rotate(-45deg); }
  }

  .popup-header{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1vw;
    margin-top: 1vh;
  
  }
  
  .popup-text{
    color: white;
    font-size: 1rem;
    margin-left: 1vw;
    margin-top: 1vh;
    overflow-y: scroll;
    /* margin-bottom: 0; */
    position: relative;
  }


  .popup-background{
    display:flex;
    flex-direction: column;
    background-color: #323232;
    height: 70vh;
    width: 45vw;
    border: none !important;
    border-radius: 15px;
    position: absolute;
    top: -50%; /* Adjust as needed */
    left: -20%; /* Adjust as needed */
 
  }

  .popup-open-button{
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    padding: 10px 24px;
    position: absolute;
    top: 0;
    right: 0;
  }

}

/* Light Mode and base */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 3rem; 
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

.gradient { 
  @apply fixed bottom-0 left-0 flex h-48 w-full items-end justify-center bg-gradient-to-t from-white via-white dark:from-black dark:via-black lg:static lg:h-auto lg:w-auto lg:bg-none;
  position: fixed;
  z-index: 0;
}

/* Grid settings */

.InfoGrid {
  display: grid;
  min-width: 100vh;
}

.ButtonsGrid{
  display: grid;
  padding-bottom: 5dvh;
}

/* Text settings */

h1 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.01562em;
}

h2 { /* Search bar */
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.01562em;
  padding-top: 10%;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  padding-bottom: 2%;

}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  border-radius: 5px;
}

/* Button settings */

select {
  appearance: auto;
  width: 100%;
  height: 90%;
  font-size: 1.15rem;
  padding: 1vh 1vw;
  border: 1px solid;
  border-radius: 0.25rem;
  cursor: pointer;
}

.selectLabel {
  font-weight: bold;
}

.custom-select {
  padding-top: 5px;
}

/* Header */

.header {
  width: 700px;
  height: 70px;
  background-image: url("./frontend/public/header_light.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  padding-bottom: 25%;
  background-repeat: no-repeat;
  }

/* Map settings */

.map {
  height: 90vh;
  width: 50vh;
  position: relative;
}

.legend-gradient {
  margin: auto;
  position: relative;
  display: flex;
  background: linear-gradient(to top, #A0DA39, #4AC16D, #1FA187, #277F8E, #365C8D, #46327E, #440154)  ;
  height:100%;
  border-radius: 0.5rem;
  width:50%
}
.legend{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  width: 7vw;
  margin-right: 79vw;
  margin-top: 65vh;
  height: 20vh;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1000;
}
.legend-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}
.legend-text > p{
  margin-left: 1vw;
  color: black;
}

.legend-text>.top{
  margin-top:3px;
}
.legend-text>.bottom{
  margin-top: 10vh;
}

/* Buttons settings */

.buttons {
  margin-bottom: 8rem;
  display: grid;
  text-align: center;
  max-width: 80rem;
  max-height: 4rem;
  margin-bottom: 0.5rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
  position: relative;
}

.searchButton {
  border: 1px solid transparent;
  padding: 1.25rem 1.25rem;
  transition-property: border-color, background-color;
  transition-duration: 0.2s;
}


.searchButton:hover {
  border-color: #D1D5DB; 
  background-color: #F3F4F6; 

}

/* Chart settings */

.chart {
  position: relative;
}

.popup-background{
  background-color: #D6DBDC;
  height: 70vh;
  width: 45vw;
  border: none !important;
  border-radius: 15px;
  position: absolute;
  top: -50%; /* Adjust as needed */
  left: -20%; /* Adjust as needed */

}

.popup-root{
  opacity: 1;
  
}

.popup-header{
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1vw;
  margin-top: 1vh;

}

.popup-text{
  color: black;
  font-size: 1rem;
  margin-left: 1vw;
  margin-top: 1vh;
}

.popup-text-1{
  margin-right: 180px;
}

#popup-1{
  background-color: transparent;
  height: 30vh;
  width: 30vw;
  border: none !important;
}

#popup-close-button{

	overflow: hidden;
	position: absolute; 
	border: none;
	padding: 0;
	width: 5em; height: 5em;
	border-radius: 50%;
	background: transparent;
	color: #bbfeab;
	font: inherit;
	text-indent: 100%;
	cursor: pointer;
  top: 90%;
  left: 135%;
	
	&:focus {
		outline: solid 0 transparent;
		box-shadow: 0 0 0 2px #8ed0f9
	}
	
	&:hover {
		background: rgba(29, 161, 142, .1)
	}
	
	&:before, &:after {
		position: absolute;
		top: 15%; left: calc(50% - .0625em);
		width: .125em; height: 70%;
		border-radius: .125em;
		transform: rotate(45deg);
		background: currentcolor;
		content: ''
	}
	
	&:after { transform: rotate(-45deg); }
}

.popup-image {
    width: 150px;
    background-image: url("./frontend/public/E_WEB_Goal_11.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    left: 80%;
    top: 5%;
    height: 150px;
    }


.popup-open-button{
  background-color: #bbfeab;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 24px;
  position: absolute;
  top: 0;
  right: 0;
}


}
